streamlit
# TensorFlow CPU-only (smaller, works on Linux)
tensorflow==2.12.0

# OpenCV headless is safer on servers (no GUI deps)
opencv-python-headless
imageio
numpy
pillow
typing_extensions
ffmpeg-python
